html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  background:#ffffff;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	color: 
}
body a:hover{
	text-decoration: none;
}
li a:hover{
	color: yellow;
}
.banner ul li a{
	font-weight: bold;
	color: white;
}
.banner .navbar-nav .active1 a, .banner ul li a:hover, .banner ul li a:focus {
	color:#d9a535;
	background: none;
}
nav, .nav {
	background: none;
}
.navbar-brand{
	padding-left: 100px;
}
.navbar-collapse{
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}
#nav-custom{ 
	padding-right:  25px;
}
.banner {
  width: 100%;
  height: 300px;
  background:url(../img/banner-1.jpg) no-repeat 0px 0px;
  background-size: cover;
  margin-top:0; 
  position: relative;
 
}
.main-tittle{
	position: absolute;
	text-align: center;
	z-index: 5;
	font-weight: bold;
	background: none;
	margin-top: 50px;	
	color: white;
}
.wrapper{
	margin: 0 50px;
}
#process-tittle{
	padding-left: 50px;
	font-weight: bold;
}
.process-page{
	padding:0px 50px;
}
.process{
	margin-left: 50px;
}
.navbar-tabs .active{
	border-bottom: 0;
	outline: none;
}
.tabs-list .navbar-tabs li a:hover {
    background-image: url(img/about_us/fill_color.png) !important;
	
}
.tabs-list .nav .step a{
	display: inline-block;
}
.tab-list .navbar-tabs .active{
	border: 0;

}
.step{
width: 280px;
height: 200px;

}
.navbar-tabs{
	border: 0;
	outline: none;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.images{
	/*width: 300px;*/
	/*height: 200px;*/
	width: 100%;
}
.tab-content{
	margin: 0 200px;
}
#nongtrai{
	color:#d9a535;
	font-weight: bold;
}
.footer{
	background-image: url(img/footer.jpg);
	height: 300px;
}
.coppy-right{
	text-align: center;
}

.icons-flow {
	padding-left: 20px;
	float: left;
    padding-top: 75px;
}

.each-step-custom {
	text-align: center;
	width: 240px;
}

.each-step-custom-2 {
	width: 200px;
	text-align: center;
}

.none-border {
	border: none !important;
}

/*.active {
	background-image: url(img/about_us/fill_color.jpg);
}*/