section#contact {
	background-color: black;
	color: white;
	padding: 20px 0;
}
#mainNav {
	/*background-color: black;*/
	height: 60px;
	color: white;
	border-color: transparent;
}
.affix {
	color: white;
}
.nav-custom {
	/*position: absolute !important;*/
	margin-bottom: 0px !important;
    background-color: transparent;
    padding-top: 0px;
    height: 60px;
}

a.header-a-tag-custom {
	padding: 20px 10px !important;
	font-size: 14px;
	color: white !important;
}

a.header-a-tag-custom:hover {
	color: #d9a535 !important;
}

.active-a-tag {
	color: #d9a535;
}

.title-product-slider {
	color: #363636;
	text-transform: uppercase;
	font-weight: 700;
	float: right;
	font-size: 44px;
	width: 100% !important;
}

.text-right {
	text-align: right !important;
}

.add-background {
	background-image: url('../img/background-product.jpg');
}

.add-background-item4 {
	background-color: #f4f4f4;
}

.add-background-item5 {
	background-color: #f4f4f4 !important;
}

.hover-a-tag:hover {
	color: #d9a535 !important;
}

body a:hover{
	text-decoration: none;
}
li a:hover{
	color: yellow;
}
.banner-fake ul li a{
	font-weight: bold;
	color: white;
}
.banner-fake .navbar-nav .active1 a, .banner-fake ul li a:hover, .banner-fake ul li a:focus {
	color:#d9a535;
	background: none;
}
nav, .nav {
	background: none;
}
.navbar-brand{
	padding-left: 100px;
}
.navbar-collapse{
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}
#nav-custom{ 
	padding-right:  25px;
}
.banner-fake {
  width: 100%;
}

.a-dropdown-custom {
	font-weight: bold;
    color: white !important;
}

.a-dropdown-custom:hover {
	color: #d9a535 !important;
}

.text-in-slider {
    width: 100%;
    position: absolute;
    top: 190px;
    left: -105%;
}

.full-width {
	width: 100% !important;
}

.black-text {
	color: black !important;
}

.repadding {
	padding: 60px 30px !important;
}

.white-backg-header {
	background-color: white !important;
}

.white-backg-header a {
	color: black !important;
}

.gallery-main {
	height: 480px;
}