section#contact {
	background-color: black;
	color: white;
	padding: 20px 0;
}
#mainNav {
	background-color: black;
	color: white;
}
.affix {
	color: white;
}
.nav-custom {
	/*position: absolute !important;*/
}