/*@font-face {
    font-family: sanfa;
    src: url(/font/SF-UI-Display-Regular.tff);
}*/

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

/*body{
	font-family: sanfa !important;
}*/



.footer-all {
	padding: 30px 30px;
	/*margin: 0px -15px;*/
	
}
.title-footer {
	color: #d9a535;
	padding: 10px 0px;
	font-weight: bold;
	text-transform: uppercase;
}
.group-top-post{
margin-top: 15px;	
margin-bottom: 10px;
}
.footer-post-title {
	color: #d9a535;
	font-size: 15px;
	font-weight: bold;
}

.footer-post-date {
	color: white;
}
.copyright{
	text-align: center;
	margin-top: 20px;
}
.add-background-footer {
	background-image: url('../img/footer.jpg');
	/*height: 340px;*/
}

.padding-nav {
	padding-top: 60px !important;
}

.dropdown-menu-custom {
	background: transparent;
    text-align: right;
    padding-right: 0px !important;
    right: -22px;
}

.hover-a-tag:hover {
	color: #d9a535 !important;
}

body a:hover{
	text-decoration: none;
}
li a:hover{
	color: yellow;
}
.banner ul li a{
	font-weight: bold;
	color: white;
}
.banner .navbar-nav .active1 a, .banner ul li a:hover, .banner ul li a:focus {
	color:#d9a535;
	background: none;
}
nav, .nav {
	background: none;
}
.navbar-brand{
	padding-left: 10px;
}
.navbar-collapse{
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}
#nav-custom{ 
	padding-right:  25px;
}
.banner {
  width: 100%;
  height: 300px;
  background:url(../img/banner-1.jpg) no-repeat 0px 0px;
  background-size: cover;
  margin-top:0; 
  position: relative;
 
}

.all-main-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.title-bottom-with-color {
	color: #d9a535;
	font-weight: bold;
}

.title-bottom {
	font-size: 20px;
	text-align: center;
}

.media-body-config {
	font-weight: bold;
}


.a-tag-color {
	color: #d9a535 !important;
}


.image-responive {
	text-align: center;
	max-width: 100%;	
}

.white-backg-header {
	background-color: white !important;
}

.white-backg-header a {
	color: black !important;
}

.active1 a {
	color: #d9a535 !important;
}

.active-header-link {
	color: #d9a535 !important;
}
.navbar-toggle {
      border: none;
      outline: none;
	  	
 }
 .navbar-default .navbar-toggle .icon-bar {
     background-color: #d9a535 !important;
   }
 .custom-toggle{
 	background-color: #d9a535 !important;
 }
 @media screen and (max-width: 600px) and (min-width: 321px){
 	.home-title{
 		font-size: 30px;
 	}
 	.business-name{
 		margin-top:140px; 
 	}
 	.fp-controlArrow img{
 		width: 50px;
 	}
 	.title-product-slider{
 		font-size: 20px;
 		text-align: center;
 	}
 	.black-text{
 		text-align: left;
 	}
 	img.button-product{
 		position: absolute;
 		width: 200px;
 		left: 90px;
 		top:550px;
 	}
 	img.each-product-image{
 		width: 300px;
 		position: absolute;
 		top: -50px;
 		left: 40px;
 	}
 	.rating{
 		position: absolute;
 		top:-200px !important;
 		left: -5px !important;
 	}
 	.product-number{
 		padding-bottom: 15px;
 		padding-top: 0px;
 	}
 	.main-product img{
 		width: 300px;
 	}
 	.rating-content{
 		font-size: 15px;
 	}
 }
 @media screen and(max-width: 320px;) {
 	.rating{
 		position: absolute;
 		top:-300px !important;
 		left: -5px !important;
 	}
 }
 @media screen and(max-height: 620px) {
 	img.button-product{
		position: absolute;
 		width: 200px;
 		left: 90px;
 		top:300px !important;
 	}
 }
 @media screen and (max-width: 990px) and (min-width: 600px) {
 	.product-number{
 		padding-bottom: 15px;
 		padding-top: 0px;
 	}
 	.rating{
 		position: absolute;
 		top:-175px !important;
 		left: -5px !important;
 	}
 	.button-product{
 		position: absolute;
 		left: 100px !important;
 	}
 }